@charset "UTF-8";

/**
 * Basic styling
 */
body {
  color: #eef;
  background-color: #30323d;
}

strong {
  background: linear-gradient(transparent 50%, #457 50%);
  font-weight: 400;
}

/**
 * Links
 */
a {
  color: #aacaf2;
}
a:visited {
  color: #68a1e8;
}
a:hover {
  color: #eef;
}

/**
 * Blockquotes
 */
blockquote {
  color: #c2c2c2;
}

/**
 * Source code
 */
pre {
  background: #282a36;
}
code {
  background: #3b3b4b;
}

/**
 * Tables
 */
table {
  background-color: #393f49;
}
table tr:nth-child(odd) {
  background-color: #3e3d4d;
}
table th {
  background-color: #252525;
  border: 1px solid #556;
}
table td {
  border: 1px solid #556;
}

/**
 * Site title
 */
.site-title,
.site-title:visited {
  color: #828282;
  color: #789;
}

textarea {
  color: #eef;
  background-color: #404047;
}

input {
  color: #ccd;
}

input[type="text"],
input[type="password"] {
  background-color: #404047;
}

hr {
  border-top: 2px solid #556;
}

/** 
 * Button
 */
a.button {
  color: #eef;
}
.button {
  color: #ccd;
  background-color: #3c3c43;
}

/** 
 * Button for copying source code
 */
pre:hover > .code-copy-button {
  background-color: #303040;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  color: red;
}
pre > .code-copy-button:hover {
  background-color: #445;
}

pre > .code-copy-button.copied::after {
  color: #aab;
}
pre > .code-copy-button.copied {
  background-color: #445;
}

pre {
  position: relative;
}

/* menu */
div.menu a {
  color: #bbc;
}
div.menu a:hover {
  color: #eef;
}
div.menu {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

/* line between list elements */
div.menu ul li:after {
  border: 2px solid #303238;
  background: #556;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
div.menu ul li:hover:after {
  background: #fff;
}
div.menu ul li:before {
  border-left: 2px solid #556;
}
div.menu ul li ul li:after {
  border: 2px solid #303238;
}
div.menu ul li ul li:before {
  border-left: 1.5px dashed #556;
}

/* last modified date */
.updated-date {
  color: #778;
}

/** footer */

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #828282;
}

/* button to go up */
#go-up-button {
  background-color: transparent;
  color: #99a;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
#go-up-button:hover {
  color: #eef;
}

/**
 * Heading の下線
 */
h1::after {
  border-bottom: 2px solid #667;
}

input[type="submit"] {
  background-color: #3c3c43;
}
input[type="submit"]:hover {
  background-color: #3f5fde;
}
.button:hover {
  background-color: #3f5fde;
}

/**
 * User icon
 */
.user-name {
  background-color: #556;
}
