@charset "UTF-8";
/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Fira Sans", "Noto Sans JP", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #eef;
  background-color: #1c1c23;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: 15px;
}

/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/**
 * Links
 */
a {
  color: #aacaf2;
  text-decoration: none;
}
a:visited {
  color: #68a1e8;
}
a:hover {
  color: #eef;
  text-decoration: underline;
}
.social-media-list a:hover {
  text-decoration: none;
}
.social-media-list a:hover .username {
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: #c2c2c2;
  border-left: 4px solid white;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code {
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, "DejaVu Sans Mono",
    "Liberation Mono", "Courier New", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial,
    helvetica, sans-serif;
  font-size: 15px;
  border-radius: 3px;
}

code {
  padding: 1px 5px;
  /*
  background: #2b2b2b;
*/
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  /*
  background: #2b2b2b;
*/
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
.wrapper:after,
.footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #c2c2c2;
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list li + li {
  padding-top: 5px;
}

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: white;
  border-collapse: collapse;
  border: 1px solid black;
}
table tr:nth-child(even) {
  background-color: #151515;
}
table th,
table td {
  padding: 10px 15px;
}
table th {
  background-color: black;
  border: 1px solid #445;
  border-bottom-color: #556;
}
table td {
  border: 1px solid black;
}

/**
 * Site header
 */
.site-header {
  padding-top: 5px;
  border-bottom: 1px solid #828282;
  min-height: 55.95px;
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
.site-title,
.site-title:visited {
  color: #828282;
}

textarea {
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 70vh;
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, "DejaVu Sans Mono",
    "Liberation Mono", "Courier New", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial,
    helvetica, sans-serif;
  font-size: 15px;
  border-radius: 3px;
  color: #eef;
  background-color: #2c2c33;
  border: none;
  outline: none;
}

input {
  max-width: 100%;
  margin: 10px;
  padding: 10px;
  font: 400 16px/1.5 "Fira Sans", "Noto Sans JP", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #eef;
  background-color: #2c2c33;
  border: none;
  outline: none;
}

input[type="text"] {
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, "DejaVu Sans Mono",
    "Liberation Mono", "Courier New", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial,
    helvetica, sans-serif;
  font-size: 15px;
  border-radius: 3px;
}

hr {
  border: 1px solid #445;
  margin: 20px 0;
}
