@charset "UTF-8";
/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Fira Sans", "Noto Sans JP", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #eef;
  background-color: #1c1c23;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: 15px;
}

/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/**
 * Links
 */
a {
  color: #aacaf2;
  text-decoration: none;
}
a:visited {
  color: #68a1e8;
}
a:hover {
  color: #eef;
  text-decoration: underline;
}
.social-media-list a:hover {
  text-decoration: none;
}
.social-media-list a:hover .username {
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: #c2c2c2;
  border-left: 4px solid white;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code {
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, "DejaVu Sans Mono",
    "Liberation Mono", "Courier New", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial,
    helvetica, sans-serif;
  font-size: 15px;
  border-radius: 3px;
}

code {
  padding: 1px 5px;
  background: #2b2b2b;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  background: #2b2b2b;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
.wrapper:after,
.footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #c2c2c2;
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list li + li {
  padding-top: 5px;
}

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: white;
  border-collapse: collapse;
  border: 1px solid white;
}
table tr:nth-child(even) {
  background-color: white;
}
table th,
table td {
  padding: 10px 15px;
}
table th {
  background-color: white;
  border: 1px solid whitesmoke;
  border-bottom-color: #e0e0e0;
}
table td {
  border: 1px solid white;
}

/**
 * Site header
 */
.site-header {
  padding-top: 5px;
  border-bottom: 1px solid #828282;
  min-height: 55.95px;
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
.site-title,
.site-title:visited {
  color: #828282;
}

.site-nav {
  float: right;
  line-height: 54px;
}
.site-nav .nav-trigger {
  display: none;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .page-link {
  color: #eef;
  line-height: 1.5;
}
.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #1c1c23;
    border: 1px solid #828282;
    border-radius: 5px;
    text-align: right;
  }
  .site-nav label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  .site-nav .menu-icon > svg {
    fill: #828282;
  }
  .site-nav input ~ .trigger {
    clear: both;
    display: none;
  }
  .site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #828282;
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #c2c2c2;
  margin-left: -15px;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2));
}

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  flex: 1;
}

.page-heading {
  font-size: 32px;
}

.post-list-heading {
  font-size: 28px;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14px;
  color: #c2c2c2;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  .post-title {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #111;
}
.highlighter-rouge .highlight {
  background: #2b2b2b;
}
.highlight .c {
  color: #545454;
  font-style: italic;
}
.highlight .err {
  color: #f07178;
  background-color: #e3d2d2;
}
.highlight .k {
  color: #89ddff;
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #545454;
  font-style: italic;
}
.highlight .cp {
  color: #545454;
  font-weight: bold;
}
.highlight .c1 {
  color: #545454;
  font-style: italic;
}
.highlight .cs {
  color: #545454;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #f07178;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #f07178;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #ffcb6b;
  font-weight: bold;
}
.highlight .m {
  color: #f78c6c;
}
.highlight .s {
  color: #c3e88d;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #eeffff;
}
.highlight .nc {
  color: #ffcb6b;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #82aaff;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #ffcb6b;
}
.highlight .nv {
  color: #eeffff;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #eeffff;
}
.highlight .mf {
  color: #f78c6c;
}
.highlight .mh {
  color: #f78c6c;
}
.highlight .mi {
  color: #f78c6c;
}
.highlight .mo {
  color: #f78c6c;
}
.highlight .sb {
  color: #c3e88d;
}
.highlight .sc {
  color: #c3e88d;
}
.highlight .sd {
  color: #c3e88d;
}
.highlight .s2 {
  color: #c3e88d;
}
.highlight .se {
  color: #eeffff;
}
.highlight .sh {
  color: #c3e88d;
}
.highlight .si {
  color: #c3e88d;
}
.highlight .sx {
  color: #c3e88d;
}
.highlight .sr {
  color: #c3e88d;
}
.highlight .s1 {
  color: #c3e88d;
}
.highlight .ss {
  color: #c3e88d;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #ffcb6b;
}
.highlight .vg {
  color: #eeffff;
}
.highlight .vi {
  color: #eeffff;
}
.highlight .il {
  color: #f78c6c;
}

textarea {
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 70vh;
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, "DejaVu Sans Mono",
    "Liberation Mono", "Courier New", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial,
    helvetica, sans-serif;
  font-size: 15px;
  border-radius: 3px;
  color: #eef;
  background-color: #2c2c33;
  border: none;
  outline: none;
}

input {
  max-width: 100%;
  margin: 10px;
  padding: 10px;
  font: 400 16px/1.5 "Fira Sans", "Noto Sans JP", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #eef;
  background-color: #2c2c33;
  border: none;
  outline: none;
}

input[type="text"] {
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, "DejaVu Sans Mono",
    "Liberation Mono", "Courier New", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial,
    helvetica, sans-serif;
  font-size: 15px;
  border-radius: 3px;
}

hr {
  border: 1px solid #445;
  margin: 20px 0;
}
