<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=JetBrains+Mono:wght@300&family=Noto+Sans+JP:wght@300&display=swap"
      rel="stylesheet"
    />

    <!-- highlight.js -->
    <link rel="stylesheet" href="/assets/dracula.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>

    <title>TITLE</title>
    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper">
        <div class="site-header">
          <div class="site-title">TITLE</div>
        </div>
      </div>
      <div class="wrapper">
        <a href="/">HOME</a>
        <a href="/edit?path=PATH">Update</a>
        <form action="/edit" method="DELETE">
          <input
            type="submit"
            id="btn_submit"
            name="btn_submit"
            value="Delete"
          />
        </form>
      </div>
      <div class="wrapper">
        <ul>
          INDEX_UL
        </ul>
      </div>
      <div class="wrapper">BODY</div>
    </div>
  </body>

  <script>
    window.addEventListener("DOMContentLoaded", () => {
      // 送信ボタンのHTMLを取得
      const btn_submit = document.getElementById("btn_submit");

      btn_submit.addEventListener("click", async (e) => {
        e.preventDefault();

        // フォームの入力値を送信
        const response = await fetch(
          "/edit?" + new URLSearchParams({ path: "TITLE" }),
          {
            method: "DELETE", // *GET, POST, PUT, DELETE, etc.
          }
        );

        // redirect to the home page
        window.location = "/";
      });
    });
  </script>
</html>
