<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=JetBrains+Mono:wght@300&family=Noto+Sans+JP:wght@300&display=swap"
      rel="stylesheet"
    />

    <title>HOME</title>
    <link rel="stylesheet" href="/files/assets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper">
        <div class="site-header">
          <div class="site-title">{{ TITLE }}</div>
        </div>
      </div>

      <!-- header menu bar -->
      <div class="wrapper header-menu">
        <a href="/edit?path={{ PATH }}" class="button">Update</a>
        <form
          action="/attach?path={{ PATH }}"
          method="post"
          enctype="multipart/form-data"
          class="form-hided"
        >
          <label class="button">
            Attach
            <input
              id="btn-select-attach"
              type="file"
              multiple
              name="file"
              class="input-hided"
            />
          </label>
        </form>
        <a href="/users" class="button">Users</a>
      </div>

      <!-- side menu bar -->
      <div class="sidebar">
        <ul>
          {{ INDEX_UL }}
        </ul>
      </div>

      <!-- body contents -->
      <div class="body-contents">
        <div class="wrapper">
          <div class="updated-date">Last modified: {{ UPDATED_DATE }}</div>
          <div class="form-element">
            Create a new page:
            <form action="/edit" method="GET">
              <input
                type="text"
                id="input_path"
                name="input_path"
                required
                size="50"
                value=""
              />
              <input
                type="submit"
                id="btn_submit"
                name="btn_submit"
                value="Create"
              />
            </form>
          </div>
        </div>

        <!-- links to pages -->
        <!-- 
        <div class="menu">
          <ul>
            {{ INDEX_UL }}
          </ul>
        </div>
        -->

        <!-- body -->
        <div class="body">{{ BODY }}</div>

        <!-- footer -->
        <div class="site-footer">
          <div class="attach-names">{{ ATTACH_NAMES }}</div>
        </div>
      </div>
    </div>
  </body>

  <script>
    function copyToClipboard(text) {
      const textArea = document.createElement("textarea");
      textArea.value = text;

      // Avoid scrolling to bottom
      textArea.style.top = "0";
      textArea.style.left = "0";
      textArea.style.position = "fixed";

      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();

      document.execCommand("copy");

      textArea.parentNode.removeChild(textArea);
    }

    window.addEventListener("DOMContentLoaded", () => {
      // 新しいページを作る
      // (1) 送信ボタンのHTMLを取得
      const btn_submit = document.getElementById("btn_submit");
      btn_submit.addEventListener("click", async (e) => {
        e.preventDefault();

        // (3) フォーム入力欄のHTMLを取得
        const input_path = document.querySelector("input[name=input_path]");
        const path = input_path.value;
        if (path.length === 0) return;

        const location = "/edit?path=" + encodeURIComponent(path);
        window.location = location;
      });

      /** 以下は普通のページと同じコード */

      // ファイルの添付
      const btn_select_attach = document.getElementById("btn-select-attach");
      // const btn_post_attach = document.getElementById("btn-post-attach");
      // Select your input type file and store it in a variable

      // This will upload the file after having read it
      const upload = (file) => {
        console.log("uploading", file);
        const formData = new FormData();
        formData.append("filename", file);

        fetch("/attach?" + new URLSearchParams({ path: "{{ PATH }}" }), {
          // Your POST endpoint
          method: "POST",
          body: formData, // This is your file object
        });
      };

      // Event handler executed when a file is selected
      const onSelectFile = () => upload(btn_select_attach.files[0]);

      // Add a listener on your input
      // It will be triggered when a file will be selected
      btn_select_attach.addEventListener("change", onSelectFile, false);

      // ファイルの削除
      const btn_delete_attaches =
        document.getElementsByClassName("btn-delete-attach");
      for (let i = 0; i < btn_delete_attaches.length; i++) {
        const btn = btn_delete_attaches[i];
        console.log("btn", btn);
        console.log("btn.parentElement", btn.parentElement);
        const filename = btn.parentElement.firstChild.innerText;
        btn.addEventListener("click", async (e) => {
          console.log("deleting attach", filename);
          e.preventDefault();

          // const encodedFilename = encodeURIComponent(filename);

          const file = filename.split("\\").pop().split("/").pop();
          // console.log(`file: {file}, path: {path}`);

          // フォームの入力値を送信
          const response = await fetch(
            "/attach?" +
              new URLSearchParams({
                path: "{{ PATH }}",
                file: file,
              }),
            { method: "DELETE" }
          );

          console.log(response);

          // reload the page
          location.reload();
        });
      }

      // ソースコードをコピーできるボタンの追加
      // const btn_submit = document.getElementById("btn-submit-delete");
      const collection = document.getElementsByTagName("pre");
      for (let cell of collection) {
        // create a new div element
        const newDiv = document.createElement("div");
        newDiv.classList.add("code-copy-button");

        const newI = document.createElement("i");
        newI.classList.add("fa-solid");
        newI.classList.add("fa-copy");

        newDiv.appendChild(newI);

        newDiv.addEventListener("click", async (e) => {
          e.target.classList.add("copied");
          e.preventDefault();

          const code = cell.innerText;
          console.log(code);
          copyToClipboard(code);
          setTimeout(() => {
            console.log("Delayed for 5 second.");
            e.target.classList.remove("copied");
          }, 3000);
        });

        cell.appendChild(newDiv);
      }
    });
  </script>
</html>
