<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;700&family=JetBrains+Mono:wght@300;700&family=Noto+Sans+JP:wght@300;700&display=swap"
      rel="stylesheet"
    />

    <!-- highlight.js -->
    <link rel="stylesheet" href="/files/assets/dracula.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>

    <!-- mathjax -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      type="text/javascript"
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
    ></script>

    <!-- custom css -->
    <link rel="stylesheet" href="/files/assets/main.css" />

    <title>HOME</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper">
        <div class="site-header">
          <div class="site-title">{{ TITLE }}</div>
        </div>
      </div>

      <!-- header menu bar -->
      <div class="wrapper header-menu">
        <a href="/edit?path={{ PATH }}" class="button">Update</a>
        <form
          action="/attach?path={{ PATH }}"
          method="post"
          enctype="multipart/form-data"
          class="form-hided"
        >
          <label class="button">
            Attach
            <input
              id="btn-select-attach"
              type="file"
              multiple
              name="file"
              class="input-hided"
            />
          </label>
        </form>
        <a href="/users" class="button">Users</a>
      </div>

      <!-- side menu bar -->
      <div class="main-body">
        <div class="sidebar">{{ SIDE_MENU }}</div>

        <!-- body contents -->
        <div class="body-contents">
          <div class="wrapper">
            <div class="updated-date">Last modified: {{ UPDATED_DATE }}</div>
            <div class="form-element">
              Create a new page:
              <form action="/edit" method="GET">
                <input
                  type="text"
                  id="input_path"
                  name="input_path"
                  required
                  size="50"
                  value=""
                />
                <input
                  type="submit"
                  id="btn_submit"
                  name="btn_submit"
                  value="Create"
                />
              </form>
            </div>
          </div>

          <!-- body -->
          <div class="body">{{ BODY }}</div>
        </div>
      </div>

      <!-- links to pages -->
      <!--
        <div class="site-structure">
            {{ INDEX_UL }}
        </div>
        -->

      <!-- footer -->
      <div class="site-footer">
        <div class="attach-names">{{ ATTACH_NAMES }}</div>
      </div>

      <!-- button to go top -->
      <button id="go-up-button" onclick="gotop()">▲</button>
    </div>
  </body>

  <script src="/files/js/page.js"></script>
  <script src="/files/js/top.js"></script>
</html>
