<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=JetBrains+Mono:wght@300&family=Noto+Sans+JP:wght@300&display=swap"
      rel="stylesheet"
    />

    <!-- highlight.js -->
    <link rel="stylesheet" href="/files/assets/dracula.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>

    <!-- mathjax -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      type="text/javascript"
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
    ></script>

    <!-- custom css -->
    <link rel="stylesheet" href="/files/assets/main.css" />

    <title>Users</title>
  </head>
  <body>
    <div class="wrapper page-wrapper">
      <div class="wrapper">
        <div class="site-header">
          <div class="site-title">Users</div>
        </div>
      </div>

      <!-- header menu bar -->
      <div class="wrapper header-menu">
        <a href="/" class="button">HOME</a>
        <a href="/login" class="button">Login</a>
      </div>

      <div class="main-body">
        <!-- side menu bar -->
        <div class="sidebar">
          <ul>
            {{ SIDE_MENU }}
          </ul>
        </div>

        <!-- body contents -->
        <div class="body-contents">
          <div class="wrapper">
            <div class="updated-date">Last modified: {{ UPDATED_DATE }}</div>
            <div class="form-element">
              Create a new user:
              <form action="/user" method="POST">
                <input
                  type="text"
                  id="create_user_name"
                  name="create_user_name"
                  required
                  size="50"
                  value=""
                />
                <br />
                <input
                  type="password"
                  id="create_user_password"
                  name="create_user_password"
                  required
                  size="50"
                  value=""
                />
                <br />
                <input
                  type="submit"
                  id="create_user_submit"
                  name="create_user_submit"
                  value="Create"
                />
              </form>
            </div>
            <div class="form-element">
              Delete user:
              <form action="/edit" method="Delete">
                <input
                  type="text"
                  id="delete_user_name"
                  name="delete_user_name"
                  required
                  size="50"
                  value=""
                />
                <br />
                <input
                  type="submit"
                  id="delete_user_submit"
                  name="delete_user_submit"
                  value="Delete"
                />
              </form>
            </div>
            <div class="wrapper">
              Users list
              <div>{{ USERS }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="/files/js/user.js"></script>
</html>
